* {
    outline: red solid 2px;
}

body {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url('./canoe.png');
    background-size: 350px 350px;
    background-position: center;
    background-color: #607196;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

button {
    font-size: 2em;
    text-align: center;
    border-radius: 12px;
}

#calculatorDisplay {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-content: center;
    padding: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #9c917d;
}

#userInputs {
    display: flex;
    flex-direction: row;
    order: 1;
    margin: 2%;
}

#inputField {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 32px;
    font-size: 2em;
    background-color: #e9e9e4;
}

#rowOne {
    display: flex;
    flex-direction: row;
    order: 2;
}

#clearInputs {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    background-color: #2e460e;
    color: #f1f0f7; 
}

#division {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

#rowTwo {
    display: flex;
    flex-direction: row;
    order: 3;
    flex-grow: 1;
}

.r2Buttons {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    background-color: #7a96b2;
    color: #f1f0f7;
}

#rowThree {
    display: flex;
    flex-direction: row;
    order: 4;
}

.r3Buttons {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    background-color: #7a96b2;
    color: #f1f0f7;
}

#rowFour {
    display: flex;
    flex-direction: row;
    order: 5;
}

.r4Buttons {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    background-color: #7a96b2;
    color: #f1f0f7;
}

#rowFive {
    display: flex;
    flex-direction: row;
    order: 6;

}

.r5Buttons {
    background-color: #7a96b2;
    color: #f1f0f7;
}

#zero {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#dot {
    display: flex;
    justify-content: center;
    width: 25%;
}

#equal {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    background-color: #2e460e;
    color: #f1f0f7; 
}

.operator {
    background-color: #2e460e;
    color: #f1f0f7; 
}